* {
    margin: 0;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4)),  url('./img/bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4)
}

#header {
    width: 100%;
    height: 68px;
    background: rgba(0, 0, 0, .5);
}

#header .stats-div {
    position: relative;
    left: 15px;
    top: 5px;
    display: inline-block;
    margin-right: 40.5px;
}

#header .stats-div .balance {
    display: inline-block;
    position: relative;
    left: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 
    -0   -1px 3px #000000,
     0   -1px 3px #000000,
    -0    1px 3px #000000,
     0    1px 3px #000000,
    -1px -0   3px #000000,
     1px -0   3px #000000,
    -1px  0   3px #000000,
     1px  0   3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000;
     font-size: 25px;
     margin-top: 1px;
}

#menu button.btn {
    width: 230px;
    margin: 9px 0;
    margin-left: 7.5px
}

div#menu {
    margin-top: 20px;
}

#enemy-img-container {
    margin-left: 8px;
}

img.enemy-image {
    padding: 15px;
    border: brown 3px solid;
    border-radius: 50%;
}

div#levels {
    width: 230px;
    text-align: center;
    color: white;
    font-weight: 600;
    text-shadow: 
    -0   -1px 3px #000000,
     0   -1px 3px #000000,
    -0    1px 3px #000000,
     0    1px 3px #000000,
    -1px -0   3px #000000,
     1px -0   3px #000000,
    -1px  0   3px #000000,
     1px  0   3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000;
}

progress#enemy-health, progress#user-health {
    border:0;
    width: 230px;
    height: 20px;
    border-radius: 5px;
    background: #f1f1f1;
    margin-left: 8px;
}

progress#enemy-health::-webkit-progress-bar, progress#user-health::-webkit-progress-bar {
    background: #f1f1f1;
}

progress#enemy-health::-webkit-progress-bar, progress#user-health::-webkit-progress-bar {
    height: 20px;
    border-radius: 5px;
}

progress#enemy-health::-webkit-progress-value {
    border-radius: 5px;
    background: linear-gradient(#ac1515 0%, red 100%);
}

progress#user-health::-webkit-progress-value {
    border-radius: 5px;
    background: linear-gradient(#38ac15 0%, rgb(0, 214, 36) 100%);
}

@media screen and (min-width: 0px) {
    #header {
        height: 200px;
    }
}
@media screen and (min-width: 127px) {
    #header {
        height: 237px;
    }
}
@media screen and (min-width: 168px) {
    #header {
        height: 132px;
    }

    #enemy-img-container {
        margin-left: 8px;
    }
}
@media screen and (min-width: 408px) {
    #header {
        height: 68px;
    }
}

@media screen and (min-width: 639px) {
    #enemy-img-container {
        margin-left: 8px;
        position: absolute;
        left: 245px;
        top: 68px;
    }
}