* {
    margin: 0;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4)),  url('../../img/bg.png') no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4)
}

#header {
    width: 100%;
    height: 68px;
    background: rgba(0, 0, 0, .5);
}

#header .stats-div {
    position: relative;
    left: 15px;
    top: 5px;
    display: inline-block;
    margin-right: 40.5px;
}

#header .stats-div .balance {
    display: inline-block;
    position: relative;
    left: 5px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 
    -0   -1px 3px #000000,
     0   -1px 3px #000000,
    -0    1px 3px #000000,
     0    1px 3px #000000,
    -1px -0   3px #000000,
     1px -0   3px #000000,
    -1px  0   3px #000000,
     1px  0   3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000,
    -1px -1px 3px #000000,
     1px -1px 3px #000000,
    -1px  1px 3px #000000,
     1px  1px 3px #000000;
     font-size: 25px;
     margin-top: 1px;
}

#armors {
    width: 303px;
    height: 120px;
    overflow: auto;
    background: rgba(0, 0, 0, .33);
    border: 1px white solid;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
}

#helmets {
    width: 303px;
    height: 120px;
    overflow: auto;
    background: rgba(0, 0, 0, .33);
    border: 1px white solid;
    margin-bottom: 13px;
}

#pants {
    width: 303px;
    height: 120px;
    overflow: auto;
    background: rgba(0, 0, 0, .33);
    border: 1px white solid;
    margin-bottom: 13px;
}

#helmets {
    display: flex;
    flex-direction: row;
}

#store {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.helmet {
    width: 100px;
    height: 100px;
}

.test {
    background: rgb(0, 139, 139)
}

#store img {
    width: 100px;
    height: 100px;
    background: rgba(220, 20, 60, .22);
}

@media screen and (min-width: 0px) {
    #header {
        height: 200px;
    }
}
@media screen and (min-width: 127px) {
    #header {
        height: 237px;
    }
}
@media screen and (min-width: 168px) {
    #header {
        height: 132px;
    }
}
@media screen and (min-width: 408px) {
    #header {
        height: 68px;
    }
}